doctype
html
  head
    meta(charset='UTF-8')
    title connectors
    link(rel="stylesheet", type="text/css", href="css/main.css")
  
  body
    canvas(style="", width="1280" height="498")#js-canvas
    img#js-img(src="image.png", alt="")

    script(src="dist/charites.js")


    



